<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoCRUD.Properties.Settings.cn" connectionString="Data Source=sqlserver1.czo4ooikuy80.us-east-2.rds.amazonaws.com;Initial Catalog=DB_CRUD;Persist Security Info=True;User ID=Julian;Password=Juaco666;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>